@using BookNest.Models.Entities
@using BookNest.ViewModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Member Dashboard";
}

<div>
    <h1>Welcome back @UserManager.GetUserName(User)!</h1>
</div>
<br>
@model List<CheckoutListViewModel>

<div class="text-center">
    <h1 class="display-4">Active Checkouts</h1>
</div>
<hr />

@await Html.PartialAsync("_AlertsPartial")

<br>
<table id="checkoutTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Member Email</th>
            <th>Checkout Date</th>
            <th>Due Date</th>
            <th>Returned</th>
            <th>Overdue</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var checkout in Model)
            {
                <tr>
                    <td>@checkout.BookTitle</td>
                    <td>@checkout.MemberEmail</td>
                    <td>@checkout.CheckoutDate.ToString("yyyy-MM-dd")</td>
                    <td>@checkout.DueDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        @if (checkout.IsReturned)
                        {
                            <span class="text-success">Yes</span>
                        }
                        else
                        {
                            <span class="text-danger">No</span>
                        }
                    </td>
                    <td>
                        @if (checkout.IsOverdue)
                        {
                            <span class="badge bg-danger">Overdue</span>
                        }
                        else
                        {
                            <span class="badge bg-primary">No</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#checkoutTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                info: true,
                
            });
        });
    </script>
}